<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Ferris Reading</title>
        <author email="mjremijan@yahoo.com">Michael Remijan</author>
    </properties>

    <body>
        <section name="PDFsam">
            <p>
                This is a companion utility for the Sourceforge pdfsam project
            </p>
 
            <ul>
                <li>http://sourceforge.net/projects/pdfsam/files/pdfsam</li>
            </ul>
 
            <p>
                Pdfsam is able to take a PDF file, "BURST" it into individual pages, then
                "MERGE" individual pages back into a single PDF file.
            </p>
        </section>
    </body>
</document>